.comment {
  display: flex;
  width: 100%;
  transition: 0.1s all;

  &:hover {
    .comment__delete {
      &_button {
        opacity: 1;
      }
    }

    .like {
      opacity: 1;
    }
  }

  .like {
    opacity: 0;
    transition: 0.1s all;
  }

  &__delete {
    display: flex;

    &_button {
      border: none;
      transition: 0.1s all;
      opacity: 0;
      background: none;
      color: grey;
      cursor: pointer;
      font-size: 18px;

      &:hover {
        color: rgb(154, 154, 154);
      }
    }
  }

  &__avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transform: translateY(15px);

    &_reply {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
      transform: translateY(15px);
    }
  }
}
