html {
  --primary-color: #393c42;
  --secondary-color: #deeafc;
  --dark: #18191c;
  --light-dark: #202123;
  --link-hover: #1111115c;
  --second-dark: #565b62;
  --green-logo: #7dd076;
  --orange-logo: #ed9153;
  --purple-logo: #ba53de;
  --blue-icon: #71aaeb;
}
