@import "./color-variables.scss";

body {
  color: var(--secondary-color);
  font-family: "Noto Sans JP", sans-serif;
  background: var(--dark);
}

main {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: flex-start;
}

article {
  width: 1000px;
}

img {
  object-fit: cover;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--second-dark);
}
