.myModal {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: none;
   background: rgba(0, 0, 0, 0.5);
   z-index: 100;
}

.myModalContent {
   background: #262626;
   border-radius: 16px;
   min-width: 600px;
   z-index: 103;
   cursor: default;
}

.myModal.active {
   display: grid;
   place-items: center;
   z-index: 100;
}
