.chatUser {
   &__prevMessage {
      color: gray;
   }

   &__prevInfo {
      display: flex;
      flex-direction: column;
      gap: 7px;
   }

   &__img {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      margin-right: 20px;
   }

   &__username {
      font-size: 20px;
   }
}
