.aside__wrap {
  width: 370px;
  padding: 30px 15px;
  margin-left: 30px;
  display: inlien-block;
  background: var(--light-dark);
  position: sticky;
  top: calc(65px + 20px);
  border: 1px solid var(--primary-color);
  border-radius: 15px;

  .myFriends {
    font-size: 24px;
    padding: 0 15px;
  }

  .friends__list {
    display: flex;
    flex-direction: column;
  }

  hr {
    margin: 30px 0;
  }

  .friend {
    padding: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: all 0.2s ease;
    margin-bottom: 15px;
    gap: 20px;

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    &:hover {
      background: var(--primary-color);
    }

    &__avatar {
      width: 52px;
      height: 52px;
      border-radius: 50%;
    }

    &__username {
      font-size: 20px;
    }
  }
}
