.font_tiny {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.8px;
}

.font_small {
  font-size: 20px;
}

.font_average {
  font-size: 26px;
}

.font_big {
  font-size: 32px;
}

.font_biggest {
  font-size: 38px;
}
