.mutations {
  position: absolute;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  left: -10px;
  z-index: 20;

  &__trash,
  &__likes {
    color: rgb(230, 83, 83);
  }

  &__delete,
  &__getLikesList {
    width: 200px;
    padding: 8px 0 8px 15px;
    background: transparent;
    color: var(--secondary-color);
    border: none;
    text-align: start;
    transition: all 0.2s ease;
    cursor: pointer;
    display: flex;
    align-items: center;

    button {
      user-select: none;
    }

    &:hover {
      background: var(--link-hover);
    }

    p {
      font-size: 24px;
    }

    button {
      font-size: 18px;
      background: transparent;
      color: var(--secondary-color);
      border: none;
      cursor: pointer;
    }
  }
}

.likeUser__wrap {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(auto, 1fr);
  grid-gap: 20px;
  max-height: 1000px;
  overflow-y: auto;
}
