.chat__users {
   width: 350px;
   border-right: 1px solid var(--primary-color);
   padding-top: 30px;
}

.chatUser {
   display: flex;
   width: 100%;
   cursor: pointer;
   padding: 7px 10px;
   align-items: center;

   &:hover {
      background: var(--primary-color);
   }
}
