.like {
  background: var(--primary-color);
  display: inline-flex;
  cursor: pointer;
  color: var(--secondary-color);
  user-select: none;
  border: none;
  justify-content: center;
  padding: 6px 18px;
  border-radius: 30px;
  margin-top: 20px;
  transition: all 0.2s;

  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    p {
      font-size: 18px;
      font-family: "Arial", sans-serif;
    }
  }

  &__filled,
  &__outlined {
    font-size: 22px;
    display: flex;
    align-items: center;
  }
}

.like__active {
  background: #dc2f2f;
}
