.message__we {
   display: flex;
   flex-direction: column;
   margin-top: 15px;
   cursor: pointer;
   padding: 10px;
   margin-left: 8px;

   &:nth-last-of-type(1) {
      margin-bottom: 15px;
   }

   &:hover {
      background: rgb(50, 50, 50);
   }
}

.message {
   display: flex;
   flex-direction: column;
   margin-top: 15px;

   &:nth-last-of-type(1) {
      margin-bottom: 15px;
   }

   &__creator_we {
      flex-direction: row-reverse;
   }

   &__creator {
      display: flex;
      align-items: center;
      gap: 5px;

      &_username {
         font-size: 18px;
      }

      &_avatar {
         width: 48px;
         height: 48px;
         border-radius: 50%;
      }
   }

   &__content_we {
      margin: 10px 25px 0 0;
      display: flex;
      flex-direction: column;
      background: var(--primary-color);
      max-width: 500px;
      border-radius: 10px;
      padding: 15px;
   }

   .message__content_wrap {
      display: flex;
   }

   .message__content_wrapWe {
      display: flex;
      justify-content: end;
   }

   .message__content_text {
      display: flex;
      max-width: 400px;
      word-break: break-all;
      font-size: 18px;
      line-height: 1.4;
   }

   .message__content_textWe {
      display: flex;
      max-width: 400px;
      justify-content: end;
      word-break: break-all;
      font-size: 18px;
      line-height: 1.4;
   }

   &__content {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      background: var(--primary-color);
      border-radius: 10px;
      margin: 10px 0 0 25px;
      padding: 15px;
   }

   &__date_we {
      justify-content: end;
      display: flex;
      margin-top: 5px;
      color: grey;
   }

   &__date {
      display: flex;
      margin-top: 5px;
      color: grey;
   }
}
