.profile {
  position: absolute;
  top: 65px;
  right: 310px;
  font-size: 42px;
  width: 360px;
  min-height: 380px;
  border-radius: 0 0 10px 10px;
  z-index: 10;
  border: 1px solid var(--primary-color);
  background-color: var(--light-dark);
}

.user__avatar {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 30px;
  gap: 5px;

  &:hover {
    background: var(--primary-color);
  }

  &_focus {
    background: var(--primary-color);
  }

  &_img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
}

.user {
  display: flex;
  padding: 20px;
  gap: 30px;
  border-radius: 10px;
  align-items: center;
  margin: 15px;
  background: var(--primary-color);

  &__img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
  }

  &__username {
    font-size: 20px;

    p:nth-child(2) {
      font-size: 12px;
      margin-top: 10px;
    }
  }

  &__logout {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    padding: 6px 40px;

    &:hover {
      background: var(--primary-color);
    }

    button {
      cursor: pointer;
      font-size: 20px;
      color: var(--secondary-color);
      background: transparent;
      border: none;
    }
  }
}
